body {
    font-family: "Roboto", sans-serif;
    width: 1152px;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: #F5F5F6;
    height: 50px;
}
header > div {
    font-weight: 500;
    font-size: 12px;
    line-height: 53px;
    color: #959BA4;
}
header>div:nth-child(1){
    margin-top: 7px;
    margin-left: 100px;
}
header>div:nth-child(2){
    margin-left: 64px;
    font-size: 12px;
}
header>div:nth-child(3){
    margin-left: 25px;
}
header>div:nth-child(4){
    margin-left: 25px;
}
header>div:nth-child(5){
    margin-left: 24px;
}
header>div:nth-child(6){
    margin-left: 25px;
}
header>div:nth-child(7){
    margin-left: 25px;
}
header>div:nth-child(8){
    margin-left: 24px;
}
header>div:nth-child(9){
    background-color: white;
    margin-left: auto;
    margin-right: 102px;
    margin-top: 8px;
    padding-left: 9px;
    padding-top: 3px;
    width: 58px;
    height: 33px;
    color: black;
    box-sizing: border-box;
    line-height: 28px;
}
div.article {
    font-size: 36px;
    font-weight: 700;
    margin-left: 253px;
    margin-top: 54px;
}

div.main {
    display: flex;
    margin-top: 30px;
    margin-left: 253px;
    column-gap: 163px;
}
div.main>div>div:nth-child(1){
    font-size: 12px;
}
.source {
    max-width: 259px;
}
div.currencies {
    display: flex;
    margin-top: 8px;
}

div.currencies > div {
    flex-basis: 64px;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 12px;
    height: 30px;
    border: 1px solid black;
    padding-left: 20px;
    padding-top: 6px;
    /* color: white; */
    box-sizing: border-box;
    border-collapse: collapse;
}

.amount>#amount {
    font-weight: 700;
    font-size: 36px;
}
.amount > p {
    margin-left: 14px;
}

.amount > p:nth-child(1){
    margin-bottom: 0px;
    height: 45px;
    padding-top:0px;
    margin-top:31px;
}

.amount > p:nth-child(2){
    margin-left: 16px;
    font-size: 12px;
    margin-top: 21px;
}

div.currencies > div:first-child{
    border-radius: 3px 0 0 3px;
}
div.currencies > div:last-child{
    border-radius: 0 3px 3px 0;
}
div.currencies > div.active {
    color: white;
    background-color: #833AE0;
}

input {
    height: 100%;
    width: 200px;
    border: 0;
    font-weight: 700;
    font-size: 36px;
}